In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
loans = pd.read_csv("LOAN-train.csv")

In [2]:
loans.head(6) # check first 6 lines of data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

In [3]:
loans.describe() # numerical data

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [4]:
print(loans['Property_Area'].head(7)) # looking at a specific column of the data

0    Urban
1    Rural
2    Urban
3    Urban
4    Urban
5    Urban
6    Urban
Name: Property_Area, dtype: object

In [5]:
loans['Property_Area'].value_counts() # count occurances of each of the three values

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [6]:
loans['ApplicantIncome'].hist(bins=50)

In [7]:
loans.boxplot(column='ApplicantIncome')

In [8]:
loans.boxplot(column='ApplicantIncome', by='Education')

In [9]:
loans['LoanAmount'].hist(bins=50)

In [10]:
loans.boxplot(column='LoanAmount')

In [11]:
print('Frequency Rable for Credit History')
temp1 = loans['Credit_History'].value_counts(ascending=True)
print(temp1)

Frequency Rable for Credit History
0.0     89
1.0    475
Name: Credit_History, dtype: int64

In [12]:
print("\nProbability of getting a loan for each Credit History class: ")
temp2 = loans.pivot_table(values='Loan_Status',index=['Credit_History'],aggfunc=lambda x: x.map({'Y':1,'N':0}).mean())
print(temp2)

Probability of getting a loan for each Credit History class:
Credit_History
0.0    0.078652
1.0    0.795789
Name: Loan_Status, dtype: float64

In [13]:
# Adding gender

print("\nProbability of getting a loan for each Credit History class BY GENDER: ")
temp2gender = loans.pivot_table(values='Loan_Status',index=['Credit_History', 'Gender'],aggfunc=lambda x: x.map({'Y':1,'N':0}).mean())
print(temp2gender)

Probability of getting a loan for each Credit History class BY GENDER:
Credit_History  Gender
0.0             Female    0.058824
                Male      0.086957
1.0             Female    0.761905
                Male      0.803665
Name: Loan_Status, dtype: float64

In [14]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(12,3))
ax1 = fig.add_subplot(121)
ax1.set_xlabel('Credit_History')
ax1.set_ylabel('Count of Applicants')
ax1.set_title("Applicants by Credit History")
temp1.plot(kind='bar')

ax2 = fig.add_subplot(122)
temp2.plot(kind='bar')
ax2.set_xlabel('Credit_History')
ax2.set_ylabel('Probability of getting a loan')
ax2.set_title("Probability of getting a loan by credit history")

fig2 = plt.figure(2)
fig2 = plt.figure(figsize=(12,3))
ax3 = fig2.add_subplot(223)
temp2gender.plot(kind='bar', color=['red','blue'])
ax3.set_xlabel('Credit_History by Gender')
ax3.set_ylabel('Probability of getting a loan')
ax3.set_title('Probability of getting a loan by credit history and gender')

In [15]:
N=2
width = 0.35
ind = np.arange(N)
#Data
alldata = loans.pivot_table(values='Loan_Status',index=['Gender','Credit_History'],aggfunc=lambda x: x.map({'Y':1,'N':0}).mean())
print(alldata)
mendata = alldata['Male']
print("\nMen data")
print(mendata)
womendata = alldata['Female']
print("\nWomen data")
print(womendata)

Gender  Credit_History
Female  0.0               0.058824
        1.0               0.761905
Male    0.0               0.086957
        1.0               0.803665
Name: Loan_Status, dtype: float64

Men data
Credit_History
0.0    0.086957
1.0    0.803665
Name: Loan_Status, dtype: float64

Women data
Credit_History
0.0    0.058824
1.0    0.761905
Name: Loan_Status, dtype: float64

In [16]:
# Creating a stacked bar chart to compare men and women probabilities
p1 = plt.bar(ind,mendata,width,color='#d62728')
p2 = plt.bar(ind,womendata,width)
plt.xlabel("Credit_History")
plt.ylabel("Probability of Loan")
plt.title("Probability of getting loan on credit history and gender")
plt.legend((p1[0],p2[0]), ('Men', 'Women'))
plt.xticks(ind,('0','1'))
plt.show

In [17]:
temp3 = pd.crosstab(loans['Credit_History'], loans['Loan_Status'])
temp3.plot(kind='bar',stacked=True,color=['red','blue'],grid=False)

In [18]:
t3 = pd.crosstab([loans['Credit_History'],loans['Gender']],loans['Loan_Status'])
t3.plot(kind='bar',stacked=True,color=['red','blue'],grid=False)

In [19]:
loans

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [20]:
# Create a new function
def num_missing(x):
    return(sum(x.isnull()))

# Apply per column
print("missing values per column:")
print(loans.apply(num_missing, axis=0))

# Apply per row:
print("\nMissing values per row:")
print(loans.apply(num_missing, axis=1).head())

missing values per column:
Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

Missing values per row:
0    1
1    0
2    0
3    0
4    0
dtype: int64

In [21]:
loans['LoanAmount'].fillna(loans['LoanAmount'].mean(),inplace=True) # Fill missing LoanAmounts with the mean of known amounts
loans.head(1) # This first value initially had 'NaN' but now contains a value

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y

In [22]:
from scipy.stats import mode
print(loans['Gender'].mode()[0])

Male

In [23]:
# Fill in 'NaN' values for genders with most common gender
loans['Gender'].fillna(loans['Gender'].mode()[0], inplace=True)

In [24]:
# Fill in 'NaN' values for marriges with most common marrige status
loans['Married'].fillna(loans['Married'].mode()[0], inplace=True)
print(loans['Married'].mode()[0])

Yes

In [25]:
# Fill in 'NaN' values for self employeed with most common self employeed status
loans['Self_Employed'].fillna(loans['Self_Employed'].mode()[0], inplace=True)
print(loans['Self_Employed'].mode()[0])

No

We filled in the LoanAmount based on the median, a simple calculation.
A better one would be based on the median for similar Self_Employeed and Education.

In [26]:
table = loans.pivot_table(values='LoanAmount', index='Self_Employed', columns='Education', aggfunc=np.median)
print(table)
# Values of this table are loan amoounts indexed by whether or not they're self employeed and a graduate or not.

Education      Graduate  Not Graduate
Self_Employed
No                131.0         115.0
Yes               152.0         130.0

In [27]:
def fage(x):
    return table.loc(x['Self_Employed'],x['Education'])

In [28]:
tableCH_SExEdu = loans.pivot_table(values='Credit_History', index='Self_Employed', columns='Education', aggfunc=np.median)
print(tableCH_SExEdu)
# It looks like all of the midean values for credit histories is 1

Education      Graduate  Not Graduate
Self_Employed
No                  1.0           1.0
Yes                 1.0           1.0

In [29]:
def ffch(x):
    return tableCH_SExEdu.loc(x['Self_Employed'], x['Education'])

#loans['Credit_History'].fillna(loans[loans['Credit_History'].isnull()].apply(ffch,axis=1), inplace=True)

In [30]:
t2 = pd.crosstab([loans['Self_Employed'], loans['Education']], loans['Dependents'])
print(t2)

Dependents                    0   1   2  3+
Self_Employed Education
No            Graduate      246  64  63  32
              Not Graduate   62  18  22  12
Yes           Graduate       29  17  14   4
              Not Graduate    8   3   2   3

In [31]:
def coding(col, codeDict):
    colCoded = pd.Series(col, copy=True)
    for key, value in codeDict.items():
        colCoded.replace(key, value, inplace=True)
    return colCoded

loans['Dependents_Encoded'] = coding(loans['Dependents'], {'0':0, '1':1, '2':2, '3+':3})

In [32]:
#loans['Dependents_Encoded'] will now replace all 3+ with just 3

print(loans['Dependents_Encoded'].median()) # Runs without error

0.0

In [33]:
t3 = loans.pivot_table(values='Dependents_Encoded', index='Self_Employed', columns='Education', aggfunc=np.median)
print(t3)

Education      Graduate  Not Graduate
Self_Employed
No                  0.0           0.0
Yes                 1.0           0.5

In [34]:
def fixDependents(x):
    return t3.loc[x['Self_Employed'], x['Education']]

testRow = loans.iloc[598]
print(fixDependents(testRow))

1.0